/* reset base styles
 * ---------------------------------------------------------------------------*/

/* removes scrollbar on IE11 - resolves weird table style column indent issue */
html {
  -ms-overflow-style: -ms-autohiding-scrollbar;
}

body {
  margin: 0;
}

/* CSS Grid - App Structure
 * ---------------------------------------------------------------------------*/

.app {
  display: grid;
  grid-template:
    'app-grid__header app-grid__header' 30px
    'app-grid__sidebar app-grid__main' auto /
    300px 1fr;
  height: 100vh;
}

.header {
  background-color: #ffffff;
  grid-area: app-grid__header;
  border-bottom: 1px solid #f2f3f4;
}

.sidebar {
  background-color: #ffffff;
  grid-area: app-grid__sidebar;
  border-right: 1px solid #f2f3f4;
}

.main {
  background-color: #f7f8f9;
  grid-area: app-grid__main;
}

.panel {
  display: grid;
  grid-template: 'app-grid-panel' 1fr / 1fr;
  height: calc(100vh - 30px);
}

.panel-body {
  display: grid;
  grid-area: app-grid-panel;
  grid-template: 'app-grid-panel-body' 1fr / 1fr;
  overflow: hidden;
}

.feature-screen {
  display: grid;
  grid-area: app-grid-panel-body;
  grid-template:
    'feature-screen-column-a feature-screen-column-a feature-screen-column-a feature-screen-column-a' 70px
    'feature-screen-column-b feature-screen-column-b feature-screen-column-b feature-screen-column-b' 70px
    'feature-screen-column-c feature-screen-column-c feature-screen-column-c feature-screen-column-c' 70px
    'feature-screen-column-d feature-screen-column-d feature-screen-column-d feature-screen-column-d' 1fr /
    1fr 1fr 1fr 1fr;
  padding: 20px;
}

.breadcrumbs,
.search,
.toolbar {
  height: 50px;
  background-color: white;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.breadcrumbs {
  grid-area: feature-screen-column-a;
}

.search {
  grid-area: feature-screen-column-b;
}

.toolbar {
  grid-area: feature-screen-column-c;
}

/* CSS Flexbox - Table
 * ---------------------------------------------------------------------------*/

table {
  display: flex;
  grid-area: feature-screen-column-d;
  flex-direction: column;
  height: 200px;
  width: 100%;
  background-color: white;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

caption {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1px;
  width: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
}

thead,
tbody {
  display: block;
  padding: 0 5px;
}

tbody {
  flex: 1;
  overflow-y: scroll;
}

tr {
  width: 100%;
  display: flex;
  padding: 5px 0;
}

td,
th {
  text-align: left;
  display: block;
  flex: 1;
}

/* Table Data - Loading Skeleton
 * --------------------------------------------------------------------------- */

.column-skeleton {
  height: 15px;
  width: 180px;
  border: 1px solid #eff2f6;
  background-color: #eff2f6;
  border-radius: 4px;
}

/* Menu
 * --------------------------------------------------------------------------- */

.menu__container {
  position: relative;
}

.column-skeleton__btn {
  cursor: pointer;
}

.menu {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  position: absolute;
  padding: 10px;
  background-color: white;
  display: none;
}

.menu--open {
  display: block;
}
